<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Hyva\CompatModuleFallback\Model\CompatModuleRegistry">
        <arguments>
            <argument name="compatModules" xsi:type="array">
                <item name="hyva-hyva-checkout-paypal-standard" xsi:type="array">
                    <item name="original_module" xsi:type="string">Magento\Paypal</item>
                    <item name="compat_module" xsi:type="string">Hyva_PaypalStandard</item>
                </item>
            </argument>
        </arguments>
    </type>

    <!-- Place order handler -->
    <type name="Hyva\Checkout\Model\Magewire\Payment\PlaceOrderServiceProvider">
        <arguments>
            <argument name="placeOrderServiceList" xsi:type="array">
                <item name="paypal_express" xsi:type="object">
                    Hyva\PaypalStandard\Model\Magewire\Payment\PlaceOrderService
                </item>
            </argument>
        </arguments>
    </type>
</config>
